<section class="text-gray-light">
  <div class="container py-24 mx-auto">
    <div class="flex-col-full">
      <h1 class="heading">Orders</h1>
    </div>
  </div>
  <div class="container px-5">
    <div class="flex flex-col">
      <div class="table-responsive-container">
        <div class="table-container">
          <div class="table-wrapper">
            <table class="table-full-divider">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="table-heading">
                    Order
                  </th>
                  <th scope="col" class="table-heading">
                    Date
                  </th>
                  <th scope="col" class="table-heading">
                    Status
                  </th>
                  <th scope="col" class="table-heading">
                    Total
                  </th>
                  <!--             <th scope="col"
                    class="table-heading">
                    Actions
                  </th> -->
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                @for(order of orders; track order.id){
                <tr>
                  <td class="table-cell">
                    <div class="flex items-center">
                      <div class="text-sm font-medium text-gray-default">
                        {{ order.id }}
                      </div>
                    </div>
                  </td>
                  <td class="table-cell">
                    <div class="text-sm gray-lighter">{{ order.date }}</div>
                  </td>
                  <td class="table-cell">
                    <span class="{{getClassOrderStatus(order.status)}}">
                      {{order.status}}
                    </span>
                  </td>
                  <td class="table-cell gray-lighter">
                    {{ order.total | currency }}
                  </td>
                  <!--         <td class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap">
                    <a href="#" class="text-indigo-600 hover:text-indigo-900">Details</a>
                  </td> -->
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>