<div class="p-4 mt-2 mb-6 overflow-hidden rounded-b-lg shadow-none hover:shadow-xl text-slate-600 ">
  <a class="relative block h-48 overflow-hidden rounded" [routerLink]="['/products', (product().id)]">
    <img class="w-full transition duration-500 transform hover:scale-105" src="{{ product().image }}"
      alt="{{ product().title }}" />
  </a>

  <div class="mt-4">
    <h3 class="mb-1 text-xs tracking-widest title-font">
      {{ product().category }}
    </h3>
    <h2 class="py-4 text-lg font-medium text-slate-900 title-font">
      <a [routerLink]="['/products', (product().id)]">
        {{ product().title | slice: 0 : 30 }}</a>
    </h2>

    <div class="flex items-center justify-between my-2">
      <p class="text-2xl font-bold text-orange-500">{{ product().price | currency }}</p>
      <app-add-to-cart (addToCartEvent)="onAddToCart()" />
    </div>
    <!--     @if (product().quantity >= 1) {
    <div class="flex items-center justify-center mt-5 ">
      <ng-content />
    </div>
    } -->

  </div>
</div>