<a class="relative block h-48 overflow-hidden rounded" [routerLink]="['/product-details', product.id]">
  <img class="w-full transition duration-500 transform hover:scale-105" src="{{product.image}}" alt="{{product.title}}">
</a>

<div class="mt-4">
  <h3 class="mb-1 text-xs tracking-widest text-gray-500 title-font">{{product.category}}</h3>
  <h2 class="text-lg font-medium text-gray-900 title-font">
    <a [routerLink]="['/product-details', product.id]">
      {{product.title | slice:0:30}}</a>
  </h2>
  <p class="mt-1">{{product.price | currency}}</p>
</div>