@tailwind components;

@layer components {
  .product-card {
    @apply p-4 mt-2 mb-6 overflow-hidden rounded-b-lg shadow-none hover:shadow-2xl text-slate-medium;
  }

  .product-image-link {
    @apply relative block h-48 overflow-hidden rounded;
  }

  .product-image {
    @apply w-full transition duration-500 transform hover:scale-105;
  }

  // .product-details {
  //   @apply mt-4;
  // }

  .product-category {
    @apply mb-1 text-xs tracking-widest;
  }

  .product-title {
    @apply py-4 text-lg font-medium text-slate-default;
  }

  .product-price-container {
    @apply flex items-center justify-between my-2;
  }

  .product-price {
    @apply text-2xl font-bold text-primary-default;
  }
}