<nav class="p-4 text-white bg-orange-500">
  <div class="container flex items-center justify-between mx-auto">
    <a routerLink="/" class="text-lg font-bold">DOMINISTORE {{user()?.name | json }}
    </a>
    <div class="flex items-center">
      <a routerLink="/products" class="mr-6">Products</a>
      <a routerLink="/products" class="hidden mr-6">Login</a>
      <a routerLink="/products" class="hidden mr-6">Register</a>
      <div class="relative group">
        <button class="px-4 py-2 text-white focus:outline-none focus:ring">
          <svg fill="#000000" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
            <g>
              <g>
                <path d="M256,0C114.837,0,0,114.837,0,256s114.837,256,256,256c2.581,0,5.099-0.32,7.68-0.384l0.896,0.171
                              			c0.704,0.128,1.387,0.213,2.091,0.213c0.981,0,1.984-0.128,2.923-0.405l1.195-0.341C405.056,503.509,512,392.171,512,256
                              			C512,114.837,397.163,0,256,0z M408.149,434.325c-1.003-3.264-3.264-6.016-6.549-7.104l-56.149-18.688
                              			c-19.605-8.171-28.736-39.552-30.869-52.139c14.528-13.504,27.947-33.621,27.947-51.797c0-6.187,1.749-8.555,1.408-8.619
                              			c3.328-0.832,6.037-3.2,7.317-6.379c1.045-2.624,10.24-26.069,10.24-41.877c0-0.875-0.107-1.749-0.32-2.581
                              			c-1.344-5.355-4.48-10.752-9.173-14.123v-49.664c0-30.699-9.344-43.563-19.243-51.008c-2.219-15.275-18.581-44.992-76.757-44.992
                              			c-59.477,0-96,55.915-96,96v49.664c-4.693,3.371-7.829,8.768-9.173,14.123c-0.213,0.853-0.32,1.728-0.32,2.581
                              			c0,15.808,9.195,39.253,10.24,41.877c1.28,3.179,2.965,5.205,6.293,6.037c0.683,0.405,2.432,2.795,2.432,8.96
                              			c0,18.176,13.419,38.293,27.947,51.797c-2.112,12.565-11.157,43.925-30.144,51.861l-56.896,18.965
                              			c-3.264,1.088-5.611,3.776-6.635,7.04C53.376,391.189,21.291,327.317,21.291,256c0-129.387,105.28-234.667,234.667-234.667
                              			S490.624,126.613,490.624,256C490.667,327.339,458.56,391.253,408.149,434.325z" />
              </g>
            </g>
          </svg>
        </button>
        <div class="absolute hidden bg-white rounded-md shadow-md w-44 group-hover:block">
          @if (!!user()?.name) {
          <a [routerLink]="['/users/profile']"
            class="block px-4 py-2 text-sm capitalize text-slate-900 hover:bg-slate-600 hover:text-white">
            Profile
          </a>
          <a [routerLink]="['/wishlist']"
            class="block px-4 py-2 text-sm capitalize text-slate-900 hover:bg-slate-600 hover:text-white">
            Wishlist
          </a>
          <a [routerLink]="['/users/orders']"
            class="block px-4 py-2 text-sm capitalize text-slate-900 hover:bg-slate-600 hover:text-white">
            Orders
          </a>
          <a href="#" (click)="onLogoutEvent.emit()"
            class="block px-4 py-2 text-sm capitalize text-slate-900 hover:bg-slate-600 hover:text-white">
            Logout
          </a>
          } @else {
          <a [routerLink]="['/users/login']"
            class="block px-4 py-2 text-sm capitalize text-slate-900 hover:bg-slate-600 hover:text-white">
            Login
          </a>
          <a [routerLink]="['/users/register']"
            class="block px-4 py-2 text-sm capitalize text-slate-900 hover:bg-slate-600 hover:text-white">
            Register
          </a>
          }
        </div>
      </div>
      <div class="relative" (mouseenter)="showCart.set(true)" (mouseleave)="showCart.set(false)">
        <a routerLink="/checkout">
          <svg fill="none" height="25" viewBox="0 0 15 15" width="25" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M0.978822 0.356323L0.0209961 0.643671L3.12789 11H14.9999V4.5C14.9999 3.11929 13.8806 2 12.4999 2H1.47192L0.978822 0.356323Z"
              fill="black" />
            <path clip-rule="evenodd"
              d="M5.5 12C4.67157 12 4 12.6716 4 13.5C4 14.3284 4.67157 15 5.5 15C6.32843 15 7 14.3284 7 13.5C7 12.6716 6.32843 12 5.5 12ZM5 13.5C5 13.2239 5.22386 13 5.5 13C5.77614 13 6 13.2239 6 13.5C6 13.7761 5.77614 14 5.5 14C5.22386 14 5 13.7761 5 13.5Z"
              fill="black" fill-rule="evenodd" />
            <path clip-rule="evenodd"
              d="M12.5 12C11.6716 12 11 12.6716 11 13.5C11 14.3284 11.6716 15 12.5 15C13.3284 15 14 14.3284 14 13.5C14 12.6716 13.3284 12 12.5 12ZM12 13.5C12 13.2239 12.2239 13 12.5 13C12.7761 13 13 13.2239 13 13.5C13 13.7761 12.7761 14 12.5 14C12.2239 14 12 13.7761 12 13.5Z"
              fill="black" fill-rule="evenodd" />
          </svg>
          <span class="absolute right-0 px-1 text-lg font-bold text-white -top-1">{{ cart()?.productsCount
            }}</span>
        </a>

        @if (showCart() && cart().productsCount) {
        <div [ngClass]="{'show-cart-animation': showCart()}"
          class="absolute right-0 z-30 w-48 p-2 mt-2 text-white rounded-sm bg-slate-400">
          @for (product of cart().products; track $index) {
          <div class="flex items-center justify-between">
            <span>{{ product.quantity}} {{ product.title | slice: 0: 10 }}</span>
            <span> {{ product.subTotal || product.price | currency }}</span>
          </div>
          }
          <hr class="my-4 border-gray-500 border-t-1" />
          <div class="flex justify-between py-3 font-light">
            Total:
            <span class="not-italic font-bold">{{
              cart().totalAmount | currency }}</span>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</nav>