<section class="text-gray-600 body-font">
  <div class="container py-24 mx-auto">
    <div class="flex flex-col w-full text-center">
      <h1 class="text-3xl font-medium text-gray-900 sm:text-4xl title-font">Profile</h1>
    </div>
  </div>
  <div class="container px-4 py-6 mx-auto">
    <div class="overflow-hidden bg-white rounded-lg shadow-md">
      <div class="p-4 border-b border-gray-200">
        <h2 class="text-2xl font-semibold text-gray-800">Perfil de Usuario</h2>
      </div>
      <div class="p-4">
        <div class="flex flex-col -mx-4 md:flex-row">
          <div class="px-4 md:w-1/2">
            <div class="mb-4">
              <label class="block mb-2 text-sm font-bold text-gray-700" for="username">
                Nombre
              </label>
              <input
                class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                id="username" type="text" placeholder="Nombre de usuario" readonly>
            </div>
            <div class="mb-4">
              <label class="block mb-2 text-sm font-bold text-gray-700" for="email">
                Email
              </label>
              <input
                class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                id="email" type="email" placeholder="usuario@example.com" readonly>
            </div>
          </div>
          <div class="px-4 md:w-1/2">
            <div class="mb-4">
              <label class="block mb-2 text-sm font-bold text-gray-700" for="address">
                Dirección
              </label>
              <textarea
                class="w-full px-3 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                id="address" placeholder="Ingresa tu dirección" readonly></textarea>
            </div>
          </div>
        </div>
        <div class="flex justify-end">
          <button
            class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700 focus:outline-none focus:shadow-outline"
            type="button">
            Editar Perfil
          </button>
        </div>
      </div>
    </div>
  </div>
</section>