<section class="container">
  <div class="card">
    <div class="card-content">
      <h3 class="heading">Sign in</h3>
      <form [formGroup]="loginForm">
        <div class="mt-4">
          <div>
            <label class="block" for="email">Email</label>
            <input formControlName="email" type="email" placeholder="Email" id="email" class="input-primary">
          </div>
          <div class="mt-4">
            <label class="block" for="password">Password</label>
            <input formControlName="password" type="password" placeholder="Password" id="password"
              class="input-primary">
          </div>
          <div class="my-6 flex-space-between">
            <a [routerLink]="['/users/forgot']" class="link">
              Forgot password?
            </a>
            <span>
              Not a member?
              <a [routerLink]="['/users/register']" class="link">
                Sign up
              </a>
            </span>
          </div>
          <div class="mt-4 flex-space-between">
            <button [disabled]="!loginForm.valid" (click)="onLogin()" class="btn-primary">
              Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>