<section class="container">
  <div class="card">
    <div class="card-content">
      <h3 class="heading">Sign up</h3>
      <form [formGroup]="registerForm">
        <div class="mt-4">
          <div>
            <label class="block" for="name">Name</label>
            <input formControlName="name" type="text" placeholder="Name" class="input-primary">
            @if (name?.invalid && (name?.dirty || name?.touched)) {
            <div class="error-message">
              @if (name?.errors?.['required']) {
              <div>
                Name is required.
              </div>
              }
            </div>
            }
          </div>
          <div class="mt-4">
            <label class="block" for="email">Email</label>
            <input formControlName="email" type="email" placeholder="Email" class="input-primary">
            @if (email?.invalid && (email?.dirty || email?.touched)) {
            <div class="error-message">
              @if (email?.errors?.['required']) {
              <div>
                Email is required.
              </div>
              }
            </div>
            }
          </div>
          <div class="mt-4">
            <label class="block" for="password">Password</label>
            <input formControlName="password" type="password" placeholder="Password" class="input-primary">
            @if (password?.invalid && (password?.dirty || password?.touched)) {
            <div class="error-message">
              @if (password?.errors?.['required']) {
              <div>
                Password is required.
              </div>
              }
              @if (password?.errors?.['minlength']) {
              <div>
                Password must be at least 6 characters long.
              </div>
              }
            </div>
            }
          </div>
          <div class="mt-4 flex-space-between">
            <div class="flex items-center">
              <a [routerLink]="['/users/login']" class="link">
                ¿Already have an account?
              </a>
            </div>
          </div>
          <div class="mt-4 flex-space-between">
            <button type="button" [disabled]="!registerForm.valid" (click)="onRegister()" class="btn-primary">
              Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>