/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@tailwind base;
@tailwind components;
@tailwind utilities;


// Version 1

/* .order-delivered {
  @apply inline-flex px-2 text-xs font-semibold leading-5 text-green-800 bg-green-100 rounded-full
}

.order-pending {
  @apply inline-flex px-2 text-xs font-semibold leading-5 text-yellow-800 bg-yellow-100 rounded-full
}

.order-cancelled {
  @apply inline-flex px-2 text-xs font-semibold leading-5 text-red-800 bg-red-100 rounded-full
} */

// Version 2
// .order-status {
//   @apply inline-flex px-2 text-xs font-semibold leading-5 rounded-full;
// }

// .succeeded {
//   @apply order-status text-green-800 bg-green-100;
// }

// .processing {
//   @apply order-status text-yellow-800 bg-yellow-100;
// }

// .canceled {
//   @apply order-status text-red-800 bg-red-100;
// }
@layer components {

  button:disabled {
    @apply cursor-not-allowed disabled:bg-primary-light;
  }

  .product-price {
    @apply text-2xl font-bold text-primary-default;
  }


  .flex-space-between {
    @apply flex items-center justify-between;
  }

  .input-primary {
    @apply w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-primary-default;
  }

  .btn-primary {
    @apply w-full px-6 py-4 leading-5 text-white transition-colors duration-200 transform bg-primary-default rounded-md hover:bg-primary-dark focus:outline-none focus:bg-primary-dark;
  }

}